.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  margin: 40px 0px;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0.5em 1em;
  /* max-width: 700px; */
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  margin: 1em 0 0.5em 0;
}

span,
p,
a,
label {
  background: transparent;
}

p {
  line-height: 1.7em;
}

.signup,
.about {
  margin: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup {
  flex: 1;
}

button {
  margin: 20px 0px;
}

p.info {
  margin: 0.5em;
  opacity: 0.5;
}

span#calendar-id:hover {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

#calendar-id {
  font-style: italic;
}

p.button-label {
  margin: 0;
  padding: 0;
  line-height: inherit;
  display: inline;
}

#alert-success-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#change-email-container {
  display: flex;
  align-items: center;
  background: transparent;
}

#change-email-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 15px;
  background: transparent;
}

.btn-outline-success {
  margin: 0;
}